<div class="container-fluid">
    <div class="row">
        <div class="head-section my-3">
            <h3>Welcome Jonathan!</h3>
            <h5 class="text-secondary">Dashboard / Teacher Dashboard</h5>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="box-1">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center my-4">
                           <div class="iconbox"><i class="fa-sharp fa-solid fa-laptop mx-3 my-3 text-light"></i></div>
                        </div>
                        <div class="col-md-6 my-3">
                            <h3>04/06</h3>
                            <h6>Total classes</h6>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="box-2">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center my-4">
                            <div class="iconbox2"><i class="fa-solid fa-user-graduate mx-3 my-3 text-light"></i></div>
                        </div>
                        <div class="col-md-6 my-3">
                            <h3>40/60</h3>
                            <h6>Total Students</h6>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="box-3">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center my-4">
                            <div class="iconbox3"><i class="fa-solid fa-book-open mx-3 my-3 text-light"></i></div>
                        </div>
                        <div class="col-md-6 my-3">
                            <h3>30/50</h3>
                            <h6>Total Lessons</h6>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="box-4">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center my-4 ">
                            <div class="iconbox4"><i class="fa-solid fa-clock mx-3 my-3 text-light "></i></div>
                        </div>
                        <div class="col-md-6 my-3">
                            <h3>15/20</h3>
                            <h6>Total Hours</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- chart boxes  -->
        <div class="row mt-5 ">
            <!-- chart one -->
            <div class="col-md-6">
              <div class="chart1">
                <div class="card">
                  <div class="card-head p-2">
                    <div class="row">
                      <div class="col-md-6">
                        <h4>Upcoming lessons</h4>
                      </div>
                      <div class="col-md-6 ">
                        <a href="" class="">View all Courses</a>
                      </div>
                    </div>
<hr>
                    <div class="card-body">
                        <table class="table  ">
                          <tbody>
                            <tr class="m-0">
                                <td class="">
                                        <span >Aug 4, Tuesday</span><br>
                                        <span>2.30pm - 3.30pm (60min)</span>
                                </td>
                                <td>
                                    <span>Lessons 30</span><br>
                                    <span>3.1 Ipsuum dolor</span>
                                </td>
                                <td><a href="">Confirmed</a></td>
                                <td><button type="button" class="btn btn-primary">Reshedule</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Aug 5, Wednesday</span><br>
                                    <span>3.00pm - 4.30pm (90min)</span>
                                </td>
                                <td>
                                    <span>Lessons 31</span><br>
                                    <span>3.2 Ipsuum dolor</span>
                                </td>
                                <td><a href="">Confirmed</a></td>
                                <td><button type="button" class="btn btn-primary">Reshedule</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Aug 6, Thursday</span><br>
                                    <span>11.00am - 12.00pm (20min)</span>
                                </td>
                                <td>
                                    <span>Lessons 32</span><br>
                                    <span>3.3 Ipsuum dolor</span>
                                </td>
                                <td><a href="">Confirmed</a></td>
                                <td><button type="button" class="btn btn-primary">Reshedule</button></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          
  <!-- chart two -->
            <div class="col-md-3">
                <div class="chart2">
                    <div class="card">
                        <div class="card-head p-1">
                            <h4>Semester progress</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                          <div class="dash-widget">
                            <div class="circle-bar circle-bar1">
                                <div class="circle-graph1" data-percent="50">
                                    <canvas  height="" style="height: 200px; width: 400px;"></canvas>
                                      
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- chart three -->
            <div class="col-md-3">
                <div class="chart3">
                    <div class="card">
                        <div class="card-head p-1">
                            <h4>Calendar</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="span12">
                                <table class="table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                          <th colspan="7">
                                            <span class="btn-group">
                                                <a class="btn"><i class="icon-chevron-left"></i></a>
                                                <a class="btn active">February 2012</a>
                                                <a class="btn"><i class="icon-chevron-right"></i></a>
                                            </span>
                                          </th>
                                        </tr>
                                        <tr>
                                            <th>Su</th>
                                            <th>Mo</th>
                                            <th>Tu</th>
                                            <th>We</th>
                                            <th>Th</th>
                                            <th>Fr</th>
                                            <th>Sa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="muted">29</td>
                                            <td class="muted">30</td>
                                            <td class="muted">31</td>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                            <td>11</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>13</td>
                                            <td>14</td>
                                            <td>15</td>
                                            <td>16</td>
                                            <td>17</td>
                                            <td>18</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td class="btn-primary"><strong>20</strong></td>
                                            <td>21</td>
                                            <td>22</td>
                                            <td>23</td>
                                            <td>24</td>
                                            <td>25</td>
                                        </tr>
                                        <tr>
                                            <td>26</td>
                                            <td>27</td>
                                            <td>28</td>
                                            <td>29</td>
                                            <td class="muted">1</td>
                                            <td class="muted">2</td>
                                            <td class="muted">3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="calcontent ">
                                <ul >
                                    <li class="d-flex justify-content-between">
                                        <p>09 am</p><h6 class="head1">Fermentum <span>09am - 10pm</span></h6>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>10 am</p><h6 class="head2">Pharetraetea <span>10am - 11am</span></h6>        
                                            

                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>11 am</p><h6 class="head3 " >Break time till
                                            <span>11am - 11.30am</span></h6>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>12 pm</p><h6 class="head4">massa
                                            <span>11.30am - 12.00pm</span></h6>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <p>09 am</p><h6 class="head1">Fermentum
                                            <span>09am - 10pm</span></h6>
                                    </li>
                                </ul>
                             
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- chart four -->
            <div class="col-md-6 my-2">
                <div class="chart4">
                    <div class="card">
                        <div class="card">
                            <div class="card-head">
                                <div class="row ">
                                    <div class="col-md-6 " >
                                        <h4 class="m-3">Teaching Activity</h4>
                                    </div>
                                    <div class="col-md-6 ">
                                        <form action="" class="m-3">
                                            <select name="select" id="">
                                                <option value="Weekly" selected>Weekly</option>
                                                <option value="Monthly" >Monthly</option>
                                                <option value="yearly" >yearly </option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
<hr>
                            <div class="card-body">
                                <canvas></canvas>
                                <h1>chart </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
<!-- chart five -->

    <div class="col-md-3">
        <div class="chart5">
            <div class="card">
                <div class="card-head">
                    <h4 class="m-3">Teaching History</h4>
                </div>
                <hr>
                <div class="card-body">
                 <ul>
                    <li>
                        <h6>Sep 05, 9 am - 10 am (60min)</h6>
                        <h6>Lorem ipsum dolor</h6>
                        <h6 class="text-warning">In Progress</h6>
                    </li>
                    <li>
                        <h6>Sep 04, 2 pm - 3 pm (70min)</h6>
                        <h6>Et dolore magna</h6>
                        <h6 class="text-primary">Completed</h6>
                    </li>
                    <li>
                        <h6>Sep 02, 1 pm - 2 am (80min)</h6>
                        <h6>Exercitation ullamco</h6>
                        <h6 class="text-primary">Completed</h6>
                    </li>
                    <li>
                        <h6>Aug 30, 10 am - 12 pm (90min)</h6>
                        <h6>Occaecat cupidatat</h6>
                        <h6 class="text-primary">Completed</h6>
                    </li>
                 </ul>        
                </div>
            </div>
        </div>
    </div>


          </div>

    </div>
</div>
